<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:cxf="http://camel.apache.org/schema/cxf" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">

    <!-- springframework will scan these packages for @Component, etc. -->
    <context:component-scan base-package="com.example"/>

    <bean id="jsonProvider" class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"/>


    <cxf:rsServer id="rsStockQuoteServer" address="/" serviceClass="com.example.proxy.LocalService">
        <cxf:providers>
            <ref bean="jsonProvider"/>
        </cxf:providers>
    </cxf:rsServer>

    <cxf:cxfEndpoint id="wsStockQuoteClient"
         serviceClass="net.webservicex.StockQuoteSoap"
         address="http://www.webservicex.net/stockquote.asmx"/>

    <bean id="requestProcessor" class="com.example.proxy.StockQuoteRequestProcessor"/>
    <bean id="clientStub" class="com.example.proxy.ClientStub"/>

    <camelContext id="camel-proxy" xmlns="http://camel.apache.org/schema/spring">
        <routeBuilder ref="proxyBuilder" />
    </camelContext>

    <!-- default production route using actual rs server and ws client -->
    <bean id="proxyBuilder" class="com.example.proxy.ProxyRouteBuilder">
        <constructor-arg type="java.lang.String"><value>cxfrs:bean:rsStockQuoteServer</value></constructor-arg>
        <constructor-arg type="java.lang.String"><value>cxf:bean:wsStockQuoteClient</value></constructor-arg>
    </bean>

    <!-- Spring Profiles active with "spring.profiles.active" system property when Tomcat is launched -->
    <beans profile="iso">
        <!-- iso route using actual rs server and stub ws client -->
        <bean id="proxyBuilder" class="com.example.proxy.ProxyRouteBuilder">
            <constructor-arg type="java.lang.String"><value>cxfrs:bean:rsStockQuoteServer</value></constructor-arg>
            <constructor-arg type="java.lang.String"><value>bean:clientStub</value></constructor-arg>
        </bean>

    </beans>

</beans>